@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    color: white;
    background-color: black;
}
header h1{
    font-size: 500;
    font-weight: 50px;
    margin: 0;
    padding: 0,5em;
    text-align: center;
    text-transform: uppercase;
    color: white;
}
header img{
    width: 100%;
}
/* description */
.description{
    padding: 8% 15%;
    box-sizing: border-box;
    display: inline-block;
}
.description_parrafo{
    width: 49%;
    display: inline-block;
    padding-top: 6px;
    margin-right: 6px;
    color: white;
}
.description img{
    float: right;
    width: 49%;
}
/* caracteristicas */
.caracteristicas{
    background-color:#1E1A13;
    text-align: center;
    padding: 3rem 25%;
    font-weight: 300;
}
.caracteristica i{
    color: white;
    display: block;
    font-size: 3em;
    margin-bottom: 1rem;
    }
.caracteristica{
    width: 30%;
    display: inline-block;
    padding: 1% ;
    }
.caracteristica h2{
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 3rem;
}
.galeria img{
    display: inline-block;
    width: 322px;
    height: 200px;
    margin-top: 73px;
    margin-bottom: 73px;
}
.galeria{
    padding-left: 150px;
    padding-right: 150px;
}
footer {
    line-height: 69px;
    font-weight: 20px;
    background-color:#1E1A13;
    text-align: center;
    padding: auto;
}
footer p{
    margin: 0%;
}

